﻿@if (User.Identity.IsAuthenticated)
{
    @model IEnumerable<CompanyXwebAuth.Course>
    ViewBag.Title = "Courses";    

    <h1>Self Development</h1>

    <hr />

    <div class="row">
        <div class="col col-md-8" style="margin:15px 0 10px 0">
            @using (Html.BeginForm())
            {

                <label>Search by name: </label>@Html.TextBox("SearchName", null, new { @class = "form-control" })
                <label>Search by subject: </label>@Html.TextBox("SearchTitle", null, new { @class = "form-control" })
                <div style="margin:10px 0 20px 0">
                    <input class="btn btn-primary" type="submit" value="Search" id="Search" name="button" />
                    <input class="btn btn-warning" type="submit" value="Reset" id="Reset" name="button" />
                </div>
            }
        </div>
        <div class="col col-md-4" style="margin:10px 0 10px 0">
            @Html.ActionLink("Add New Course or Exam", "Create", null, new { @style = "font-weight: bold; font-size:16px;", @class = "btn btn-success" })
        </div>
    </div>
    <br />

    var user = User.Identity.Name;

        <table class="table table-striped">
            <tr>
                <th>
                    @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Subject", "Index", new { sortOrder = ViewBag.CourseSortParm })
                </th>
                <th>
                    @Html.ActionLink("Skill", "Index", new { sortOrder = ViewBag.SkillSortParm })
                </th>
                <th>
                    @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm })
                </th>
                <th>
                    @Html.DisplayName("Information")
                </th>
                <th>
                    @Html.ActionLink("Passed", "Index", new { sortOrder = ViewBag.PassedSortParm})
                </th>
                <th>
                    @Html.DisplayName("Certificate")
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Employee.Rights == false && user == item.Employee.IdCode)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Textfield)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Passed)
                        </td>
                        <td>
                            @if (item.DataFile != null)
                            {
                                <a data-toggle="modal" href="#@item.Qnr"><img src="data:varbinary/jpg;base64,@Convert.ToBase64String(item.DataFile, Base64FormattingOptions.None)" alt="certification" width="80" /></a>
                                <div class="modal fade" id="@item.Qnr" aria-labelledby="myModalLabel" role="dialog" aria-hidden="true" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <img src="data:varbinary/jpg;base64,@Convert.ToBase64String(item.DataFile, Base64FormattingOptions.None)" alt="certification" width="700" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Qnr }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Qnr })
                        </td>
                    </tr>
                }
                else if (User.IsInRole("Admin"))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Textfield)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Passed)
                        </td>
                        <td>
                            @if (item.DataFile != null)
                            {
                                <a data-toggle="modal" href="#@item.Qnr"><img src="data:varbinary/jpg;base64,@Convert.ToBase64String(item.DataFile, Base64FormattingOptions.None)" alt="certification" width="80" /></a>
                                <div class="modal fade" id="@item.Qnr" aria-labelledby="myModalLabel" role="dialog" aria-hidden="true" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <img src="data:varbinary/jpg;base64,@Convert.ToBase64String(item.DataFile, Base64FormattingOptions.None)" alt="certification" width="700" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Qnr }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Qnr })
                        </td>
                    </tr>
                }
            }
        </table>
}
else
{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    @Html.Action("Index", "Home");
}