﻿@model CompanyXwebAuth.ChangeLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChangeLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee1.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee1.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Qnr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
