﻿@model IEnumerable<CompanyXwebAuth.ChangeLog>

@{
    ViewBag.Title = "History";
}
@if (!User.Identity.IsAuthenticated)
{
    @Html.Action("Index", "Home");
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
else
{ 
    <h1>History Log</h1>

    <br />

    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

    <table class="table table-condensed">
        <tr>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Employee", "Index", new { sortOrder = ViewBag.EmployeeSortParm })
            </th>
            <th>
                @Html.ActionLink("Modifier", "Index", new { sortOrder = ViewBag.ModifierSortParm })
            </th>
            <th>
                @Html.DisplayName("Operation")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangeTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modifier.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operation)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Qnr }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Qnr }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Qnr })
                  </td>*@
            </tr>
        }
    </table>
}