﻿@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using CompanyXwebAuth.Models;
@using System.Web.Mvc;
@if (Request.IsAuthenticated)
{
    using(Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @{ var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));}
                @{ var user = manager.FindById(User.Identity.GetUserId());}
                @Html.ActionLink("Welcome, " + user.FullName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style="color:white;font-weight:bold;"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
