﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet"> 
    <title>@ViewBag.Title - Company X</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundless/modernizr")

    <style>
        html {
            height: 100%;
        }

        body {
            padding: 0;
            display: flex;
            height: 100%;
            align-items: center;
            background-image: url(http://usersthink.com/wp-content/uploads/06-usersthink-stock-image.jpg);
            background-size: cover;
        }

        .jumbotron {
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255,255,255,0.8);
            border: solid 3px rgba(255,255,255,0.5);
            font-size: small;
        }

        .form-group {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

</head>
<body>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p> &copy; @DateTime.Now.Year - Company X. All Rights Reserved </p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
