﻿@if (!User.Identity.IsAuthenticated)
{
    @Html.Action("Index", "Home");
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
else
{
    ViewBag.Title = "About";

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <h4>Created By:</h4>
    <ul>
        <li>Kriste Muru</li>
        <li>Velda Lauringson</li>
        <li>Kaspar Arme</li>
    </ul>
}
