﻿@{
    ViewBag.Title = "Contact";
}
 
<style>
                #map {
                    height: 400px;
                    width: 100%;

        }
</style>
<h2>@ViewBag.Title.</h2>

<h3>My Google Maps</h3>
<div id="map"></div>
<script>
    function initMap() {
        var uluru = { lat: 59.4207, lng: 24.8003 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATDqqCOMfvEnX0Yugo9r2-pjCiOshszMo&callback=initMap"></script>

<address>
    <div id="map-canvas"></div>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@companyx.com">Support@example.com</a>
  
</address>