﻿@using CompanyXwebAuth.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="jumbotron">
    <h1 style = "font-family: 'Audiowide', cursive; margin-bottom:50px;">COMPANY X</h1>
    
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "ID Code", @style = "box-shadow:rgba(0,0,0,0.3) 2px 2px;" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @style = "box-shadow:rgba(0,0,0,0.3) 2px 2px;" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-left:0;margin-top:30px;text-align:center">
                        <input type="submit" value="Log In &raquo;" class="btn btn-primary" style="font-size:large;box-shadow:rgba(0,0,0,0.5) 2px 2px;"/>
                    </div>
                </div>
        }
    </section>

</div>