﻿@model CompanyXwebAuth.Skill

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Skill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt>
            @Html.DisplayName("Skill")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillCategory.CategoryName)
        </dd>
        <dt>
            @Html.DisplayName("Skill level")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mastery)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
