﻿@model CompanyXwebAuth.Skill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt>
            @Html.DisplayName("Skill")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SkillCategory.CategoryName)
        </dd>
        <dt>
            @Html.DisplayName("Skill level")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mastery)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Qnr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
