﻿@model IEnumerable<CompanyXwebAuth.Skill>
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CompanyXwebAuth.Models;
@using System.Web.Mvc;

@if (User.Identity.IsAuthenticated)
{    
    @section WelcomeScript {
        <script>
            function hideBox() {
                document.getElementById("welcomeBox").style.display = "none";
            };
        </script>
    }
    ViewBag.Title = "Skills";    

    if (User.IsInRole("User"))
    {
        <div id="welcomeBox" class="alert-info" style="text-align:center;padding:15px;margin-top:30px">
            @{ var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));}
            @{ var user = manager.FindById(User.Identity.GetUserId());}
            @{ IEnumerable<CompanyXwebAuth.Course> course = ViewData["Courses"] as IEnumerable<CompanyXwebAuth.Course>;}
            <div id="closeButton" onclick="hideBox();" style="cursor:pointer"><span class="glyphicon glyphicon-remove pull-right"></span></div>
            <h3>@Html.Label("Welcome, " + user.FullName + "!")</h3>
            @if (course.Where(x => x.IdCode == User.Identity.Name && x.Passed == false).Count() > 0)
            {
                <p>@Html.ActionLink("You have upcoming events!", "Index", "Courses", routeValues: null, htmlAttributes: null)</p>
            }
            else
            {
                <p>No upcoming events.</p>   
            }
        </div>
     }

    <h1>Competence</h1>

    <hr />

    <div class="row">
        <div class="col col-md-8" style="margin:15px 0 10px 0">
            @using (Html.BeginForm("Index", "Skills", FormMethod.Get))
            {
                <label>Search by skill:</label>@Html.DropDownList("searchSkill", (IEnumerable<SelectListItem>)ViewBag.searchSkill, "Skill", new { @class = "form-control" })
                <label>Search by level:</label>@Html.DropDownList("searchLevel", (IEnumerable<SelectListItem>)ViewBag.searchLevel, "Level", new { @class = "form-control" })
                <label> Search by name:</label>@Html.TextBox("SearchName", null, new { @class = "form-control" })
                <div style="margin:10px 0 20px 0">
                    <input class="btn btn-primary" type="submit" value="Search" id="Search" name="button" />
                    <input class="btn btn-warning" type="submit" value="Reset" id="Reset" name="button" />
                </div>
            }
        </div>
        <div class="col col-md-4" style="margin:10px 0 10px 0">
            @Html.ActionLink("Add New Skill", "Create", null, new { @style = "font-weight:bold; font-size:16px;", @class = "btn btn-success" })
        </div>
    </div>

    <br />

    <table class="table table-striped">
        <tr>
            <th>
                @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Skill", "Index", new { sortOrder = ViewBag.SkillSortParm })
            </th>
            <th>
                @Html.DisplayName("Level")
            </th>
            <th></th>
        </tr>

        @if (User.IsInRole("Admin"))
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillCategory.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mastery)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Qnr })
                        @*@Html.ActionLink("Details", "Details", new { id = item.Qnr })*@
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.Qnr })*@
                    </td>
                </tr>
            }
        }
        else
        {
            foreach (var item in Model.Where(x => x.Employee.Active == true))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillCategory.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mastery)
                    </td>
                    <td></td>
                </tr>
            }
        }
    </table>
}
else
{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    @Html.Action("Index", "Home");
}