﻿@model CompanyXwebAuth.Employee

@if (!User.Identity.IsAuthenticated)
{
    @Html.Action("Index", "Home");
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
else
{
    ViewBag.Title = "Create";

    <h2>Add New Employee</h2>

    @ViewBag.Message

    using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
        
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("ID code", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdCode, new { htmlAttributes = new { @class = "form-control", placeholder = "00000000000" } })
                    @Html.ValidationMessageFor(model => model.IdCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FullName, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Last" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group row">
                @Html.Label("Contract date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input  class="form-control" type="date" value="2017-09-21"  id="date-input">

                    @*@Html.EditorFor(model => model.Adddate, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Adddate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group ">
                @Html.Label("Admin", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Rights)
                        @Html.ValidationMessageFor(model => model.Rights, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    }

    }
