﻿@model CompanyXwebAuth.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete employee</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayName("Contract date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adddate)
        </dd>

        <dt>
            @Html.DisplayName("Admin")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rights)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
