﻿@model CompanyXwebAuth.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayName("Contract date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adddate)
        </dd>

        <dt>
            @Html.DisplayName("Admin")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rights)
        </dd>
        <dt>
            @Html.DisplayName("Courses and Exams")
        </dt>
        <dd>
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
