﻿@*@model IEnumerable<CompanyXwebAuth.Employee>*@
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CompanyXwebAuth.Models;
@using System.Web.Mvc;
@using PagedList.Mvc;
@model PagedList.IPagedList<CompanyXwebAuth.Employee>

@if (!User.Identity.IsAuthenticated)
{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    @Html.Action("Index", "Home");
}
else
{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    ViewBag.Title = "Employees";

    @*<div class="alert-info" style="text-align:center">
        @{ var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));}
        @{ var user = manager.FindById(User.Identity.GetUserId());}
        <h3>@Html.Label("Welcome, " + user.FullName + "!")</h3>
    </div>*@

    <h1>Employees</h1>
    <hr />

    <div class="row">
        <div class="col col-md-8" style="margin:15px 0 10px 0">
            @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
            {

                    <label>Search by name:</label> @Html.TextBox("SearchString", null, new { @class = "form-control" } @*ViewBag.CurrentFilter as string*@ )
                    <label>Search by ID code:</label> @Html.TextBox("SearchId", null, new { @class = "form-control" } @*ViewBag.CurrentFilter as string*@)
                <div style="margin: 10px 0 20px 0">
                    <input class="btn btn-primary" type="submit" value="Search" id="Search" name="button" />
                    <input class="btn btn-warning" type="submit" value="Reset" id="Reset" name="button" />
                </div>

            }
        </div>
        <div class="col col-md-4" style="margin: 10px 0 10px 0">        
                @Html.ActionLink("Add New Employee", "Create", null, new { @style = "font-weight:bold; font-size: 16px;", @class = "btn btn-success" })        
        </div>
    </div>
    <br />

    <table class="table table-striped">
        <tr>
            <th>
                @Html.ActionLink("ID Code", "Index", new { sortOrder = ViewBag.IdSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Contract Date", "Index", new { sortOrder = ViewBag.DateSortparm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Active", "Index", new { sortOrder = ViewBag.ActiveSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Admin", "Index", new { sortOrder = ViewBag.AdminSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Action
            </th>
        </tr>
 
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @(item.Adddate.HasValue ? item.Adddate.Value.ToString("dd/MM/yy") : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rights)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdCode }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.IdCode }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.IdCode })
            </td>
        </tr>
    }    
    </table>
    <br /> 
    <div>
        @*<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
}